.response-msg-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.response-box-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 8px;
}
