.bubble-container {
  background-color: #e4e6eb;
  border-radius: 18px;
  padding: 12px 16px;
  max-width: 20vw;
}

.user-reply-bubble {
  background-color: #f1b777;
  border-radius: 18px;
  padding: 12px 16px;
  max-width: 20vw;
}

.user-reply-bubble:hover {
  background-color: #dc9950;
}

@media screen and (max-width: 500px) {
  .bubble-container {
    max-width: 50vw;
  }
}
