.base-button {
  padding: 12px 24px;
  border-radius: 18px;
  color: black;
}

.primary-button {
  background-color: #82f177;
}

.secondary-button {
  background-color: #f17777;
}

@media screen and (max-width: 500px) {
  .base-button {
    font-size: 14px;
    padding: 12px 24px;
  }
}

.primary-button:hover {
  background-color: #64e157;
}

.secondary-button:hover {
  background-color: #e15757;
}
