.message-text {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
}

.time-text {
  font-weight: 500;
  font-size: 14px;
  color: rgb(110, 110, 110);
  text-align: center;
}

.meta-text {
  padding: 0 16px;
  line-height: 1.25;
}

.title-text {
  font-size: 40px;
  font-weight: 600;
}

.subtitle-text {
  font-size: 24px;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .meta-text {
    font-size: 12px;
  }
}
