.wrapper {
  margin: 0 20vw;
  padding: 0 32px;
  background-color: white;
  min-height: 100vh;
  height: 100%;
  border-radius: 18px;
}

@media screen and (max-width: 500px) {
  .wrapper {
    margin: 0 5vw;
    padding: 0 16px;
  }
}
